Checks: '-*,readability-identifier-naming'
CheckOptions:
  # Functions and methods
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.MethodCase
    value:           CamelCase

  # Variables (local + global)
  - key:             readability-identifier-naming.VariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.MemberCase
    value:           CamelCase

  # Structs
  - key:             readability-identifier-naming.StructCase
    value:           snake_case